<mat-toolbar color="primary" class="mat-elevation-z6">
    
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>theaters</mat-icon>
    </button>
    
    <span>BookMyMovie</span>
    <span class="spacer"></span>
      <a mat-raised-button color="warn" routerLink="home">Home</a>
      <span class="example-spacer"></span>
      <a mat-raised-button color="warn" routerLink="addmovies">Add Movies</a>
      <span class="spacer"></span>
      <a mat-raised-button color="warn" routerLink="addtheatre">Add Theatre</a>
      <span class="spacer"></span>
      <a mat-raised-button color="warn" routerLink="login">Login</a>
      <span class="spacer"></span>
      <a mat-raised-button color="warn" routerLink="register">Register</a>
  </mat-toolbar>

