<div class="container">
    <h1>Thank You! Your Booking has been confirmed.</h1>
    <h1>Please check the details below.</h1>
    <mat-card class="mat-elevation-z6">
        <mat-list>
            <mat-list-item>Movie Name: Movie 1</mat-list-item>
            <mat-list-item>Seats: A1, A2, A3</mat-list-item>
            <mat-list-item>Date: 30/07/2021</mat-list-item>
            <mat-list-item>Time: 11 PM</mat-list-item>
        </mat-list>
    </mat-card>
    <br>
    <button mat-raised-button color="accent" routerLink = "/home">Go Back to Home Page</button>
</div>